<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <title>질문 목록</title>
    </head>
    <body class="bg-gray-100 p-6">
    <h1 class="text-3xl font-bold mb-6">질문목록</h1>
    <table class="min-w-full border border-gray-300">
        <thead>
        <tr class="bg-red-800 text-white">
            <th class="px-4 py-2 text-left border border-gray-300">번호</th>
            <th class="px-4 py-2 text-left border border-gray-300">제목</th>
            <th class="px-4 py-2 text-left border border-gray-300">작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question : ${questionList}"
            class="bg-gray-200 border border-gray-300 hover:bg-gray-300 transition-colors duration-200">
            <td class="px-4 py-2 border border-gray-300" th:text="${question.id}"></td>
            <td class="px-4 py-2 border border-gray-300">
                <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"
                   class="text-gray-900 hover:underline"></a>
            </td>
            <td class="px-4 py-2 border border-gray-300"
                th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <div class="flex justify-end">
    <a th:href="@{/question/create}"
       class="mt-6 inline-block px-4 py-2 bg-gray-300 text-black font-semibold rounded hover:bg-black hover:text-white transition">
        질문 등록하기
    </a>
        </div>
    </body>
</div>
</html>
